<template>
  <div
    class="flex justify-between rounded p-1"
  >
    <div class="flex gap-2 w-full">
      <img
        ref="imgEl"
        v-if="imageLink"
        :data-src="imageLink"
        :alt="char.n"
        class="rounded h-[120px] object-cover object-top"
      >
      <div class="flex flex-col w-full">
        <div class="flex flex-wrap gap-x-1 items-center">
          {{ char.n }}
          <span class="text-green-500 text-sm"> [T{{ char.t }}]
          </span>
        </div>
        <span class="text-gray-500">From: <span class="text-gray-400">{{ char.w }}</span></span>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref } from '@vue/runtime-core';

const props = defineProps({
  char: {
    type: Object,
    default: () => {},
  },
})

const imgEl = ref(null)

const imageLink = computed(() => {
  const ch = props.char
    if (ch.i) {
      if (ch.i.startsWith('http')) { return ch.i }
      else {
        if (ch.u >= 100000)
          return `https://cdn.statically.io/gh/Om1cr0n/cat_thumb/main/docs/thumbs/${ch.i}`
        if (ch.i.startsWith('[n]'))
          return `https://cdn.statically.io/gh/Om1cr0n/cat_thumb/main/docs/thumbs/${ch.i.slice(3)}`
        return `https://cdn.statically.io/gh/klassekatze/waifucatimg/master/imagecache_thumb/${ch.i}`
      }
    }
  return ''
})

function lazyLoadSingleImg(img: HTMLImageElement) {
  if (img) {
    const options = {
      root: null,
      threshold: 0,
    }
    const observer = new IntersectionObserver((entries, observer) => entries.forEach((entry) => {
      if (entry.isIntersecting) {
        img.src = img.dataset.src || ''
        observer.unobserve(img)
      }
    }), options)
    observer.observe(img)
  }
}

onMounted(() => lazyLoadSingleImg(imgEl.value))

</script>
