
<template>
  <div class="absolute inset-0 bg-true-gray-800 text-gray-200 overflow-y-auto">
    <div class="text-center">Stats are from saved builds of {{ stats.length }} users</div>
    <div class="flex gap-2 mx-auto justify-center">
      <div class="border border-true-gray-700">
        <h3 class="text-lg leading-8 px-2">Top perks</h3>
        <div
          v-for="entry,i in perkStats"
          :key="entry[0]"
          class="flex justify-between even:bg-true-gray-700 px-2"
        >
          <div>
            <span class="text-blue-200">{{i+1}}.</span>
            {{ entry[0] }}
            <span v-if="perkCategories[entry[0]]" class="text-gray-400">[{{ perkCategories[entry[0]]}}]</span>
          </div>
          <div class="text-blue-200">
            {{ entry[1] }}
          </div>
        </div>
      </div>
      <div class="border border-true-gray-700">
        <h3 class="text-lg leading-8 px-2">Top 300 companions</h3>
        <div
          v-for="entry, i in companionsStats"
          :key="entry[0]"
          class="flex gap-4 justify-between even:bg-true-gray-700"
        >
          <div class="self-center pl-1 -mr-6">{{i+1}}.</div>
          <CompanionCardMiniInfo class="w-[350px]" v-if="allCharsObject[entry[0]]" :char="allCharsObject[entry[0]]" />
          <div class="text-blue-200 p-2 self-center">{{ entry[1] }}</div>
        </div>
      </div>
      <!-- <div class="border border-true-gray-700">
        <h3 class="text-lg leading-8 px-2">Worlds stats</h3>
        <div v-for="entry in worldStats" :key="entry[0]" class="flex justify-between even:bg-true-gray-700 px-2">
          <div>{{entry[0]}}</div>
          <div class="text-blue-200">{{entry[1]}}</div>
        </div>
      </div>-->
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from '@vue/runtime-core';
import CompanionCardMiniInfo from './components/CompanionCardMiniInfo.vue';

const stats = ref([] as any[])
async function getStats() {
  stats.value = (await import('./data/stats.json')).default
}

const perkCategories = ref({})
async function getCategories() {
  perkCategories.value = (await import('./data/perkNames.json')).default
}

getCategories()
getStats()

const perkStats = computed(() => {
  const res = {}
  stats.value.forEach(entry => {
    entry[0].perks.forEach(perk => res[perk] ? res[perk] += 1 : res[perk] = 1)
  })
  return Object.entries(res).sort((a, b) => b[1] - a[1])
})

const companionsStats = computed(() => {
  const res = {}
  stats.value.forEach(entry => {
    entry[0].companions.forEach(companion => res[companion] ? res[companion] += 1 : res[companion] = 1)
  })
  return Object.entries(res).sort((a, b) => b[1] - a[1]).slice(0, 300)
})

const worldStats = computed(() => {
  const res = {}
  stats.value.forEach(entry => {
    if (entry[0].worlds)
      entry[0].worlds.forEach(world => res[world] ? res[world] += 1 : res[world] = 1)
  })
  return Object.entries(res).sort((a, b) => b[1] - a[1])
})


async function getChars() {
  return (await import('./data/characters.json')).default
}

async function getUserChars() {
  return (await import('./data/userCharacters.json')).default
}

const getAllChars = async () => {
  return [...(await getChars()), ...(await getUserChars())]
}

const allCharsObject = ref({})

async function getAllCharsObject() {
  const rs = {}
  const chars = await getAllChars()
  chars.forEach(x => rs[x.u] = x)
  allCharsObject.value = rs
}

getAllCharsObject()
</script>

